<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    h1 {
      background-color: #007BFF;
      color: #fff;
      padding: 10px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 10px auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
    }

    h3 {
      margin: 0;
      background-color: #f1f1f1;
      padding: 5px;
    }

    p {
      margin: 5px 0;
    }

    audio {
      width: 100%;
    }
    a:hover {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
    <a href="/"><h1>Audiobooks4u - <%= title %></h1></a>
    <img src="<%= image  %>"
    <ul>
      <% items.forEach((item,index) => { %>
        <h3><%= `${index + 1} - Title : `+ item.title[0] %></h3>
        <p>Duration : <%= item['itunes:duration'][0] %></p>
        <audio controls>
            <source src="<%= item['media:content'][0]['$'].url %>" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      <% }) %>
    </ul>
</html>
